<h1>  <%= link_to 'Homepage', products_path %></h1>
 
<strong> show you orders page<%= link_to "click here ", orders_path, { :class => "button waves-effect waves-light btn" } %></strong>
<br><br>
<h2>Product</h2> 
<table class="table striped bordered">
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Price</th>

    <th>Stack</th>
  </tr>

      <tr>
        <td><%= @product.name %></td>
        <td><%= image_tag(@product.img, size: "100x100", alt: "Product Image") %></td>
        <td><%= @product.price %></td>
        <td><%= @product.stack%></td>
      </tr>
</table>